<div class="content">
    <div>
        Vendor Registration
    </div>
    <div class="divtable">
        <div class="row">
            <div class="col-sm-3">
                <label for="username">User Name: </label>
            </div>
            <div class="col-sm-2">
                <input type="text" id="username">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label for="password">Password: </label>
            </div>
            <div class="col-sm-2">
                <input type="text" id="password">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label for="organization">Organization: </label>
            </div>
            <div class="col-sm-2">
                <select class="option" name="organization" id="organization">
                    <option value="0">--Select--</option>
                    <option value="individual">Individual</option>
                    <option value="hospital">Hospital</option>
                    <option value="agency">Agency</option>
                    <option value="driver">Ambulance Driver</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label for="name">Name: </label>
            </div>
            <div class="col-sm-2">
                <input type="text" id="name">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label for="address">Address: </label>
            </div>
            <div class="col-sm-2">
                <input type="textarea" id="address">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label for="mobile">Mobile Number:</label>
            </div>
            <div class="col-sm-2">
                <input type="text" id="mobile">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label for="email">Email: </label>
            </div>
            <div class="col-sm-2">
                <input type="text" id="email">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <input type="checkbox" id="freeregister">
                <label for="freeregister">Free registration for 1 month</label>
            </div>
            <div class="col-sm-6">
                <input type="checkbox" id="subscribe">
                <label for="subscribe">Subscribe with $1.00</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <button type="submit" id="btnSubmit">Register</button></div>
            <div class="col-sm-2">
                <button type="button" id="btnCancel">Cancel</button>
            </div>
        </div>
    </div>
</div>