<ng-contatiner *ngIf="isUserLoggedIn">
    <div class="topnav">
        <div class="table">
            <div class="row">
                <div class="col-sm-1">
                    <a routerLink="/home" background-color="red" *ngIf="userRole !== '1'">Home</a>
                </div>
                <div class="col-sm-1">
                    <a routerLink="/profile" background-color="red" >Profile</a>
                </div>
                <div class="col-sm-1">
                    <a routerLink="/ambulances" background-color="red"
                        *ngIf="userRole !== '1'">Ambulances</a>
                </div>
                <div class="col-sm-">
                    <a routerLink="/bookambulance" *ngIf="userRole === '1'">Book Ambulance</a>
                </div>
                <div class="col-sm-1">                
                    <a routerLink="/user" *ngIf="userRole === '5'">user</a>                 
                </div>
                <div class="col-sm-1">                
                    <a routerLink="/subscribe" *ngIf="userRole === '5'">plan</a>                 
                </div>
                <div class="col-sm-1">
                    <a  routerLink="" (click)="logout()" >Logout</a>
                </div>
            </div>
        </div>
    </div>
</ng-contatiner>