<div class="content">
    <div>
        Add Ambulance
    </div>
    <div class="divtable">
        <div class="row">
            <div class="col-sm-6">
                <label for="ambulancetype">Ambulance Type: </label>
            </div>
            <div class="col-sm-2">
                <select class="option" name="ambulancetype" id="ambulancetype">
                    <option value="0">--Select--</option>
                    <option value="basic">Basic</option>
                    <option value="mortuary">Mortuary</option>
                    <option value="neonatal">Neonatal</option>
                    <option value="patient">Patient Transportation</option>
                    <option value="advanced">Advanced</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label for="vehiclenumber">Vehicle Number: </label>
            </div>
            <div class="col-sm-2">
                <input type="text" id="vehiclenumber">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label for="vehiclemodel">Vehicle Model: </label>
            </div>
            <div class="col-sm-2">
                <select class="option" name="vehiclemodel" id="vehiclemodel">
                    <option value="0">--Select--</option>
                    <option value="traveller">Traveller</option>
                    <option value="omni">Omni</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label for="facilities">Medical Facilities: </label>
            </div>
            <div class="col-sm-5">
                <div class="row">
                    <input type="checkbox" id="basic">
                    <label for="basic">Basic First-Aid</label>
                </div>
                <div class="row">
                    <input type="checkbox" id="ventilator">
                    <label for="ventilator">Ventilator</label>
                </div>
                <div class="row">
                    <input type="checkbox" id="ecg">
                    <label for="ecg">ECG Machine</label>
                </div>
                <div class="row">
                    <input type="checkbox" id="oxygen">
                    <label for="oxygen">Oxygen Cylinder</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label for="contactnumber">Contact Number: </label>
            </div>
            <div class="col-sm-2">
                <input type="text" id="contactnumber">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <button type="submit" id="btnSubmit">Add</button></div>
            <div class="col-sm-2">
                <button type="button" id="btnCancel" (click)="goToAmbulances()" >Cancel</button>
            </div>
        </div>
    </div>    
</div>
