<h2 style="text-align: center;color: firebrick;">Finsure Ambulance</h2>

<div style="text-align: center; padding:40px;">
    <!-- <table>
    <tr style="">
        <img src="assets/images.png">
    </tr>
</table> -->
<div>
    <label>Username</label>
    &nbsp;
    <input type="text"/>
</div>
<br>
<div>
    <label>Password</label>
    &nbsp;
    <input type="password"/>
</div>
<br>
<div style="padding:20px;">
    <button>
        <span></span>
        Login
    </button>
    &nbsp;
    <button>Cancel</button>
</div>
</div>


