<div class="content">
    <div class="table">
        <div class="row">
            <div class="col-sm-4 divTableBack">
                <div class="div-grid">
                    <table class="table table-striped table-bordered">
                        <thead class="black white-text">
                            <tr>
                                <th class="col">Patient Contact Number</th>
                                <th class="col">Location</th>
                                <th class="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let req of requests">
                                <td class="col-xs-6">{{req[0].phoneNumber}}</td>
                                <td class="col-xs-6">{{req[0].source}}</td>
                                <td class="col-xs-6">
                                    <button type="button" class="button" style="font-size: smaller; height: 22px;">
                                        Accept
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-4 divTableBack">
                <agm-map [latitude]='lat' [longitude]='lng' [zoom]='zoom'>
                    <!-- <agm-marker *ngFor="let marker of availableAmb" [latitude]="marker.Latitude"
                        [longitude]="marker.Longitude">
                        <agm-info-window #infoWindow>
                            {{ marker.Label }}
                        </agm-info-window>
                    </agm-marker> -->
                </agm-map>
            </div>
        </div>
    </div>
</div>