

<div class="div-menu">
   <div class="table">
       <div class="row">
           <div class="col-sm-1">
               <a routerLink="/profile" background-color="red" routerLinkActive="active">Home</a>
           </div>          
       </div>              
   </div>
</div>

<h2 style="text-align: center;color:crimson;">Book an Ambulance</h2>
<div style="margin-left:620px">





    <div class="div-table">
        <div class="div-table-row">
           <div class="div-table-col">Hospital:</div>
           <div  class="div-table-col">
            <select id="bookHospitalName">
                <option >--Select--</option>
                <option >KIMS</option>
                <option >CSI</option>
                <option >Medical College</option>
              </select>
           </div>
        </div>
 </div>


 <div class="div-table">
    <div class="div-table-row">
       <div class="div-table-col">Appointment Date:</div>
       <div  class="div-table-col">
        <input type="date"/>
       </div>
       
    </div>
</div>

 <div class="div-table">
    <div class="div-table-row">
       <div class="div-table-col">Ambulance Type:</div>
       <div  class="div-table-col">
        <select>
            <option >--Select--</option>
            <option >Basic</option>
            <option >Mortuary</option>
            <option >Neonatal</option>
            <option >Patient Transport</option>
            <option >Advanced</option>
          </select>
       </div>
    </div>
</div>

<div class="div-table">
    <div class="div-table-row">
       <div class="div-table-col">Vehicle Type:</div>
       <div  class="div-table-col">
        <select id="bookVechicleType">
            <option >--Select--</option>
            <option >Traveller</option>
            <option >Omni</option>
          </select>
       </div>
    </div>
</div>


<div class="div-table">
    <div class="div-table-row">
       <div class="div-table-col">Medical Facilities:</div>
       <div  class="div-table-col">
        <input type="checkbox" id="firstaid" >
    <label for="firstaid"> Basic First Aid</label>
    
       </div>
    </div>

       <div class="div-table-row">
        <div class="div-table-col">.</div>
        <div  class="div-table-col">
         <input type="checkbox" id="firstaid" >
     <label for="firstaid"> Ventilator</label>
        </div>
        </div>

            <div class="div-table-row">
                <div class="div-table-col">.</div>
                <div  class="div-table-col">
                 <input type="checkbox" id="ECG" >
                <label for="ECG"> ECG Machine</label>
                </div>
                </div>
</div>

<div class="div-table">
    <div class="div-table-row">
       <div class="div-table-col">Patient Phone Number:</div>
       <div  class="div-table-col">
        <input type="text"/>
       </div>
    </div>
</div>

<div class="div-table">
    <div class="div-table-row">
        
       <div class="div-table-col">
        <button style="background-color: gray;" (click)="bookAmbulance()" >Add</button>
       </div>
       <div  class="div-table-col">
        <button style="background-color: gray;" (click)="goToProfile()">Cancel</button>
       </div>
    </div>
</div>


</div>