<div class="div-menu">
    <div class="table">
        <div class="row">
            <div class="col-sm-1">
                <a routerLink="/profile" background-color="red" routerLinkActive="active">Home</a>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="table">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="divtable">
                    <div class="table">
                        <div class="row">
                            <div class="card-div card-highlight card-small">
                                Book an Ambulance
                            </div>
                        </div>
                        <form [formGroup]="form">
                            <div class="row">
                                <div class="col-sm-6">Hospital:</div>
                                <div class="col-sm-4">
                                    <select id="hospitalName" formControlName="hospitalName"  style="width: 185px;">
                                        <option>--Select--</option>
                                        <option>KIMS</option>
                                        <option>CSI</option>
                                        <option>Medical College</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">Appointment Date:</div>
                                <div class="col-sm-4">
                                    <input type="date" formControlName="appointment" style="width: 185px;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">Ambulance Type:</div>
                                <div class="col-sm-4">
                                    <select formControlName="ambulanceType" style="width: 185px;">
                                        <option>--Select--</option>
                                        <option>Basic</option>
                                        <option>Mortuary</option>
                                        <option>Neonatal</option>
                                        <option>Patient Transport</option>
                                        <option>Advanced</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">Vehicle Type:</div>
                                <div class="col-sm-4">
                                    <select id="bookVechicleType" formControlName="vechileType" style="width: 185px;">
                                        <option>--Select--</option>
                                        <option>Traveller</option>
                                        <option>Omni</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">Patient Phone Number:</div>
                                <div class="col-sm-4">
                                    <input type="text" formControlName="phoneNumber" style="width: 185px;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    Medical Facilities:
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div>
                                            <input type="checkbox" id="firstaid" formControlName="firstaid">
                                        </div>
                                        <div>
                                            <label for="firstaid"> Basic First Aid</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div>
                                            <input type="checkbox" formControlName="ventilator">
                                        </div>
                                        <div>
                                            <label for="firstaid"> Ventilator</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div>
                                            <input type="checkbox" id="ECG" formControlName="ecg">
                                        </div>
                                        <div>
                                            <label for="ECG"> ECG Machine</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-4">
                                    <button class="button" type="button" (click)="onBookAmbulance()">Add</button>
                                </div>
                                <div class="col-sm-4">
                                    <button class="button" (click)="goToProfile()">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="table" *ngIf="objAmbulance?.length > 0">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="div-grid">
                                <table class="table table-striped table-bordered">
                                    <thead class="black white-text">
                                        <tr>
                                            <th scope="col">Hospital Name</th>
                                            <th scope="col">Appointment Date</th>
                                            <th scope="col">Ambulance Type</th>
                                            <th scope="col">Vehicle Type</th>
                                            <th scope="col">Medical Facilities</th>
                                            <th scope="col">PatientPhoneNumber</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor='let amb of objAmbulance'>
                                            <td class="col-xs-6">{{amb.hospitalName}}</td>
                                            <td class="col-xs-6">{{amb.appointmentDate}}</td>
                                            <td class="col-xs-6">{{amb.ambulanceType}}</td>
                                            <td class="col-xs-6">{{amb.vechileType}}</td>
                                            <td class="col-xs-6">{{amb.MedicalFacilities}}</td>
                                            <td class="col-xs-6">{{amb.PatientPhoneNumber}}</td>
                                            <td class="col-xs-6">Pending </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>