

<div class="div-menu">
   <div class="table">
       <div class="row">
           <div class="col-sm-1">
               <a routerLink="/profile" background-color="red" routerLinkActive="active">Home</a>
           </div>          
       </div>              
   </div>
</div>

<h2 style="text-align: center;color:crimson;">Book an Ambulance</h2>
<div style="margin-left:620px">




    <form [formGroup]="form" >
    <div class="div-table">
        <div class="div-table-row">
           <div class="div-table-col">Hospital:</div>
           <div  class="div-table-col">
            <select formControlName="hospitalName">
                <option >--Select--</option>
                <option >KIMS</option>
                <option >CSI</option>
                <option >Medical College</option>
              </select>
           </div>
        </div>
 </div>


 <div class="div-table">
    <div class="div-table-row">
       <div class="div-table-col">Appointment Date:</div>
       <div  class="div-table-col">
        <input type="date" formControlName="appointment" />
       </div>
       
    </div>
</div>

 <div class="div-table">
    <div class="div-table-row">
       <div class="div-table-col">Ambulance Type:</div>
       <div  class="div-table-col">
        <select formControlName="ambulanceType">
            <option >--Select--</option>
            <option >Basic</option>
            <option >Mortuary</option>
            <option >Neonatal</option>
            <option >Patient Transport</option>
            <option >Advanced</option>
          </select>
       </div>
    </div>
</div>

<div class="div-table">
    <div class="div-table-row">
       <div class="div-table-col">Vehicle Type:</div>
       <div  class="div-table-col">
        <select id="bookVechicleType" formControlName="vechileType">
            <option >--Select--</option>
            <option >Traveller</option>
            <option >Omni</option>
          </select>
       </div>
    </div>
</div>


<div class="div-table">
    <div class="div-table-row">
       <div class="div-table-col">Medical Facilities:</div>
       <div  class="div-table-col">
        <input type="checkbox" id="firstaid" formControlName="firstaid" >
    <label for="firstaid"> Basic First Aid</label>
    
       </div>
    </div>

       <div class="div-table-row">
        <div class="div-table-col">.</div>
        <div  class="div-table-col">
         <input type="checkbox" formControlName="ventilator" >
     <label for="firstaid"> Ventilator</label>
        </div>
        </div>

            <div class="div-table-row">
                <div class="div-table-col">.</div>
                <div  class="div-table-col">
                 <input type="checkbox" id="ECG" formControlName="ecg">
                <label for="ECG"> ECG Machine</label>
                </div>
                </div>
</div>

<div class="div-table">
    <div class="div-table-row">
       <div class="div-table-col">Patient Phone Number:</div>
       <div  class="div-table-col">
        <input type="text" formControlName="phoneNumber"/>
       </div>
    </div>
</div>

<div class="div-table">
    <div class="div-table-row">
        
       <div class="div-table-col">
        <button style="background-color: gray;"  type="button"  (click)="onBookAmbulance()" >Add</button>
       </div>
       <div  class="div-table-col">
        <button style="background-color: gray;" (click)="goToProfile()">Cancel</button>
       </div>
    </div>
</div>

</form>

<div class="table">
    <div class="row">
        <div class="col-sm-11">
            <div class="div-grid">
                <table class="table table-striped table-bordered">
                    <thead class="black white-text">
                        <tr>
                            <th scope="col">Hospital Name</th>
                            <th scope="col">Appointment Date</th>
                            <th scope="col">Ambulance Type</th>
                            <th scope="col">Vehicle Type</th>
                            <th scope="col">Medical Facilities</th>
                            <th scope="col">PatientPhoneNumber</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let amb of objAmbulance'>
                            <td class="col-xs-6">{{amb.hospitalName}}</td>
                            <td class="col-xs-6">{{amb.appointmentDate}}</td>
                            <td class="col-xs-6">{{amb.ambulanceType}}</td>
                            <td class="col-xs-6">{{amb.vechileType}}</td>
                            <td class="col-xs-6">{{amb.MedicalFacilities}}</td>
                            <td class="col-xs-6">{{amb.PatientPhoneNumber}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</div>