<div>    
    <div class="div-menu">
        <div class="table">
            <div class="row">
                <div class="col-sm-2">
                    <a routerLink="/home" background-color="red" routerLinkActive="active">Home</a>
                </div>
                <div class="col-sm-2">
                    <a routerLink="/ambulances" background-color="red" routerLinkActive="active">Ambulances</a>
                </div>
                <div class="col-sm-2">
                    <a routerLink="/login" routerLinkActive="active">Login</a>
                </div>
                <div class="col-sm-2">
                    <a routerLink="/bookambulance" routerLinkActive="active">Book Ambulance</a>
                </div>
                <div class="col-sm-2">
                    <a routerLink="/payment" routerLinkActive="active">Payment</a>
                </div>
            </div>
        </div>
    </div>
    <div class="div-app-content">
        <router-outlet></router-outlet>
    </div>
</div>