<!-- <div calss="mmodal">
    <div class="mmodal-body">
        <ng-content>
            <div class="table">
                <div class="row">
                    <div class="alert alert-success">
                        <strong>Emergency:</strong> A new request awaits your confirmation
                    </div>
                    <div>
                        <button type="button" class="button" id="btnAccept">Accept</button>
                        <button type="button" class="button" id="btnCancel">Cancel</button>
                    </div>
                </div>
            </div>
        </ng-content>
    </div>
    <div class="mmodal-background"></div>
</div> -->

﻿<div class="mmodal">
    <div class="mmodal-body">
        <ng-content></ng-content>
    </div>
</div>
<div class="mmodal-background"></div>

