<div class="maincontainer">
    <div>
        <h1>Welcome</h1>
    </div>
    
        
</div> 
<!-- <div>
<button class="tablink" >Home</button>
<button type="button" class="tablink" (click)="onClickTrips()">Previous Trips</button>
<button class="tablink" >Contact Details</button>
<button class="tablink" >License Details</button>
</div> -->

<div>
<button id="btnhome" type="button"(click)="onClickHome()">Home</button>
<button type="button" (click)="onClickTrips()">Previous Trips</button>
<button type="button">Contact Details</button>
<button type="button">License Details</button>
</div>


 


