<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
    .div-table {
      display: table;         
      width: auto;         
      background-color: #eee;         
      border: 1px solid #666666;         
      border-spacing: 5px; /* cellspacing:poor IE support for  this */
    }
    .div-table-row {
      display: table-row;
      width: auto;
      clear: both;
    }
    .div-table-col {
      float: left;
      display: table-column;
      width: 150px;
      background-color: #ccc;
      
  }
   
  </style>
  
  
  <div style="color:red"> 
    <h1>Finsure Ambulance</h1>
  </div>
  <div class="navigation-bar">
      <a routerLink="/second-component" routerLinkActive="active">Edit profile </a>&nbsp;
      <a routerLink="/second-component" routerLinkActive="active">Book ambulance</a>&nbsp;
  </div>
   <!--   
  <form align="right" name="form1" method="post" action="log_out.php">
    <label class="logoutLblPos">
    <input name="submit2" type="submit" id="submit2" value="log out">
    </label>
  </form>
  <form align="right"  name="form1" method="post" action="profile.php">
    <label class="profile">
    <input name="submit3" type="submit" id="submit2" value="profile">
    </label>
  </form>
  -->
  
  <div class="div-table">
    <div class="div-table-row">
      <th><div class="div-table-col" >Booking date time</div>
       <div class="div-table-col">Destination</div>
       <div class="div-table-col">Driver Phone number</div>
       <div class="div-table-col" >Customer Location</div>
      <div class="div-table-col">Booking Status</div>
       <div class="div-table-col">Edit</div>
       
         <div class="div-table-col">Delete</div>
        </th>
        </div>
    <div class="div-table-row">
       <div class="div-table-col">001</div>
       <div class="div-table-col">002</div>
       <div class="div-table-col">003</div>
       <div class="div-table-col">44</div>
       <div class="div-table-col">55</div>
       <div class="div-table-col">66</div>
       <div class="div-table-col">67</div>
       
    </div>
  
    
    <div class="div-table-row">
       <div class="div-table-col">xxx</div>
       <div class="div-table-col">yyy</div>
       <div class="div-table-col">www</div>
       <div class="div-table-col">aa</div>
       <div class="div-table-col">bb</div>
       <div class="div-table-col">cc</div>
       <div class="div-table-col">dd</div>
    </div>
    <div class="div-table-row">
       <div class="div-table-col">ttt</div>
       <div class="div-table-col">uuu</div>
       <div class="div-table-col">Mkkk</div>
       <div class="div-table-col">1</div>
       <div class="div-table-col">2</div>
       <div class="div-table-col">3</div>
       <div class="div-table-col">4</div>
    </div>
       
        <div class="div-table-row">
        <div class="div-table-col">4</div>
       <div class="div-table-col">5</div>
       <div class="div-table-col">6</div>
       <div class="div-table-col">7</div>
       <div class="div-table-col">8</div>
       <div class="div-table-col">9</div>
       <div class="div-table-col">10</div>
      </div>
      <div class="div-table-row">
       <div class="div-table-col">aa</div>
       <div class="div-table-col">bb</div>
       <div class="div-table-col">cc</div>
       <div class="div-table-col">1</div>
       <div class="div-table-col">2</div>
       <div class="div-table-col">3</div>
       <div class="div-table-col">4</div>
      </div>
      
    
  