<div class="content" role="main">
    <div class="table">
        <div class="row">
            <div class="col-sm-10">
                Welcome!
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4" style="align-items: center;">
                <ng-container id="driver" *ngIf="userRole !== '1'">
                    <form [FrmGroup]="driverForm">
                        <div class="table">
                            <div class="row">
                                <div class="col-sm-6">
                                    <select class="form-control" formControlName="ambulances" id="ambulances"
                                        name="ambulances" style="width: 185px;">
                                        <ng-template ngFor let-ambulance [ngForOf]="ambulanceList" let-i="index">
                                            <option *ngIf="i==0" value="" disabled>Select Ambulance</option>
                                            <option value="{{ambulance.AmbulanceId}}">{{ambulance.RegNumber}}</option>
                                        </ng-template>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <button type="button" class="button" (click)="goOnline()">GO ONLINE</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </ng-container>
                <ng-container id="individual" *ngIf="userRole === '1'">
                    <div class="table">
                        <div class="row">
                            <div class="col-sm-20">
                                <!-- <app-user></app-user> -->
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>