

<div class="content">
  <div class="table" style="width: 99%;">
    <div class="row">
      <div class="col-sm-4 divTableBack">
        <form [formGroup]="qkRequest">
          <div class="table">
            <div class="card-div card-highlight card-small">
              Quick Request
            </div>
            <div class="table">
              <div class="row" style="margin: 5px 0 0;">
                <div class="col-sm-4 font-style">
                  Source Location:
                </div>
                <div class="col-sm-2">
                  <input formControlName="sourceLocation" type="text" id="txtSourceLocation">
                </div>
              </div>
              <div class="row" style="margin: 5px 0 0; align-items: center;">
                <div class="col-sm-4 font-style">
                  Phone Number:
                </div>
                <div class="col-sm-2">
                  <input formControlName="phoneNumber" type="text" id="txtPhoneNumber" ngModel required>
                </div>
              </div>
              <div class="row">
                <div style="width:98%"
                  *ngIf="qkRequest.controls['phoneNumber'].invalid && (qkRequest.controls['phoneNumber'].dirty || qkRequest.controls['phoneNumber'].touched)"
                  class="alert alert-danger">
                  <div *ngIf="qkRequest.controls['phoneNumber'].errors.required">
                    Phone Number is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="table">
              <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-6" style="width: 100px; align-items: center;">
                  <button type="button" class="btn-style" (click)="onRequest()">Request</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-6 divTableBack">
        <app-map></app-map>
        <!-- <agm-map [latitude]='lat' [longitude]='lng' [zoom]='zoom'>
          <agm-marker *ngFor="let marker of availableAmbs" [latitude]="marker.Latitude" [longitude]="marker.Longitude">
            <agm-info-window #infoWindow>
              {{ marker.Label }}
            </agm-info-window>
          </agm-marker>
        </agm-map> -->
      </div>
      <div class="col-sm-2 divTableBack">
        <ng-container *ngIf="!isUserLoggedIn">
          <div class="row">
            <button type="button" class="button" (click)="onClickLogin()">
              Login
            </button>
          </div>
          <div class="row">
            <button type="button" class="button" (click)="onClickSignUp()">
              Sign Up
            </button>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="row">
      <ng-container *ngIf="quickRequests?.length > 0">
        <div class="table divTableBack" style="margin: 10px; align-items: center;">
          <div class="row">
            <div class="col-sm-12">
              <div class="div-grid" style=" width: 100%;">
                <table class="table table-striped table-bordered">
                  <thead class="black white-text">
                    <tr>
                      <th scope="col" style="font-size:smaller;">Request Phone Number</th>
                      <th scope="col" style="font-size:smaller;">Vendor</th>
                      <th scope="col" style="font-size:smaller;">Driver Contact Number</th>
                      <th scope="col" style="font-size:smaller;">Registration Number</th>
                      <th scope="col" style="font-size:smaller;">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let req of quickRequests">
                      <td class="col-xs-6" style="font-size:smaller;">{{req.phoneNumber}}</td>
                      <td class="col-xs-6" style="font-size:smaller;">{{req.vendorName}}</td>
                      <td class="col-xs-6" style="font-size:smaller;">{{req.driverContact}}</td>
                      <td class="col-xs-6" style="font-size:smaller;">{{req.regNumber}}</td>
                      <td class="col-xs-6" style="font-size:smaller;">{{req.status}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </ng-container>      
    </div>
  </div>
</div>